<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/save_plan}" th:object="${plan}" method="post">
    <label for="id">UserID:</label>
    <input id="id" type="text" th:field="*{userID}" />
    <br>
    <label for="name">Nome:</label>
    <input id="name" type="text" th:field="*{name}" />
    <br>
    <label for="email">Start Time:</label>
    <input id="email" type="text" th:field="*{startTime}" />
    <br>
    <label for="password">Finish Time:</label>
    <input  id="password" type="text" th:field="*{finishTime}">
    <br>
    <label for="day">Dia:</label>
    <input  id="day" type="text" th:field="*{day}">
    <br>
    <label for="city">Cidade:</label>
    <input  id="city" type="text" th:field="*{city}">
    <br>
    <input type="submit" />

</form>
</body>
</html>