<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <a href="Pg.html"><img src="../static/img/logo_deitado.png" th:src="@{img/logo_deitado.png}" alt=""></a>
    <link rel="stylesheet" href="../static/css/plans.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <title>plans</title>
</head>
<body>
<section class="header">
    <nav>
        <a href="Pg.html"><img src="logo.png"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><i class="fas fa-home"></i><a href= "Pg.html" > Home</a></li>
                <li><i class="fas fa-search"></i><a href= "search.html" > Search</a></li>
                <li><i class="fas fa-calendar-alt"></i><a class= "active" href= "plans.css" > Plans</a></li>
                <li><i class="fas fa-user-circle"></i><a href="myprofile.html">Profile</a></li>
                <li><i class="fas fa-sign-out-alt"></i><a href="Pg.html">Sign-Out</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
</section>

<div class="title">
    <h1>My Plans</h1>
</div>

<section>
    <div class="wrapper">
        <div class="right">
            <div class="delete"><i class="fas fa-trash fa-2x"></i></div>
            <div class="rev">
                <div class="text"><i class="fas fa-calendar-check fa-3x"></i>
                    <div class="Ativ">
                        <li> "Atirar-me da ponte"</li>
                    </div>
                    <div class="traco">
                        <li>-</li>
                    </div>
                    <div class = "week">
                        <li><strong>Segunda - Feira</strong></li>
                    </div>
                    <div class = "horario">
                        <li>12:00 - 23:00 </li></div>
                </div>
            </div>
        </div>
    </div>
    <div class="arrows">
        <div class="left">
            <i class="fas fa-arrow-circle-left fa-2x"></i>
        </div>
        <div class="right">
            <i class="fas fa-arrow-circle-right fa-2x"></i>
        </div>
    </div>

    </div>
</section>

<div class="wrapper1">
    <div class="right">
        <div class="info">
            <div class="rev">
                <div class="text">
                    <i class="fas fa-plus fa-3x"></i><li><strong>ADD</strong> PLAN </li>
                </div>
            </div>
        </div>
    </div>
</div>
</body>