<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Email </th>
        <th> Password </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2"> No Books Available </td>
    </tr>
    <tr th:each="book : ${users}">
        <td><span th:text="${user.id}"> ID </span></td>
        <td><span th:text="${user.name}"> Name </span></td>
        <td><span th:text="${user.email}"> Email </span></td>
        <td><span th:text="${user.password}"> Password </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>